Source: libnet-imap-simple-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Allard Hoeve <allard@byte.nl>,
           gregor herrmann <gregoa@debian.org>,
           Xavier Guimard <x.guimard@free.fr>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: libparse-recdescent-perl,
                     perl
Standards-Version: 4.1.4
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libnet-imap-simple-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libnet-imap-simple-perl.git
Homepage: https://metacpan.org/release/Net-IMAP-Simple

Package: libnet-imap-simple-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Recommends: libio-socket-inet6-perl,
            libio-socket-ssl-perl,
            libparse-recdescent-perl
Description: Perl module to manage an IMAP account
 Net::IMAP::Simple provides a simple way to access and manipulate information
 on Internet Message Access Protocol (IMAP) capable servers. The API is mostly
 equivalent to Net::POP3, with some additional extensions based on the other
 features supported in the IMAP standard. This module supports connections via
 SSL using IO::Socket::SSL (see libio-socket-ssl-perl), over IPv6 using
 IO::Socket::INET6 (see libio-socket-inet6-perl) and handling messages in
 various ways (delete or undelete, mark as read or unread, expunge, edit
 flags, and more).
